{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
		  <div class="media-body">
		    <h2><a class="article-title" href="#">About FlaskBlog</a></h2>
		    <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet tempus dignissim. Aenean maximus tincidunt metus, in consectetur turpis vehicula vel. Pellentesque et hendrerit lectus. Praesent ultrices, massa nec sodales iaculis, metus sapien vestibulum massa, ac consequat lectus velit quis massa. Donec vel sem egestas, placerat enim sit amet, mollis orci. Cras imperdiet ornare faucibus. Donec at enim turpis. Maecenas sed mollis sem.</p>

			<p>Nullam pellentesque vel mi ut sollicitudin. Nulla viverra vehicula justo. In euismod velit ut risus blandit, eu dictum neque cursus. Vestibulum sapien tellus, imperdiet ut venenatis quis, faucibus ac felis. Integer faucibus magna non sapien 	facilisis, nec laoreet quam volutpat. Etiam sed velit augue. Donec enim risus, venenatis finibus diam nec, auctor vestibulum est. Donec quis sapien neque. Aliquam vel sapien nec nulla lacinia malesuada. Ut facilisis luctus sollicitudin. Nunc vel commodo erat, et eleifend odio. Vestibulum varius aliquam ipsum, vitae efficitur urna molestie luctus. Etiam suscipit sollicitudin lectus at iaculis.</p>

			<p>Fusce porta ac tellus ut pretium. Ut vitae orci ac sapien feugiat bibendum sit amet a massa. Aenean tristique facilisis ex, fringilla gravida diam condimentum et. Sed accumsan ipsum diam, in interdum sapien euismod id. Etiam euismod purus velit, ut pharetra eros efficitur non. Aenean bibendum diam sed tortor mollis, nec consectetur nibh ornare. Cras finibus et ligula in ornare. Vestibulum ac mauris ut tortor accumsan posuere. Sed vel neque non quam rhoncus posuere vitae commodo elit. Quisque vitae turpis purus. Aenean id luctus arcu, vel scelerisque lorem. Aliquam orci mi, efficitur et mi vitae, consectetur lobortis neque. Proin nibh ex, hendrerit at lacus eget, porttitor dapibus arcu.</p>
		  </div>
		</article>
{% endblock content %}
